<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css" />
</head>
<body>
<a href="/" class="home-link">Home</a>
<div class="container">
    <h1>Unable to Add Book</h1>
    <div class="error" th:text="${errorMessage}">There was a problem with the provided data.</div>
    <div class="actions">
        <a class="btn" th:href="@{/books/add}">Return to Add Book</a>
        <a class="btn secondary" th:href="@{/books}">Back to Books</a>
    </div>
</div>
</body>
</html>
